* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5f6fe;
  font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
}

form {
  max-width: 80%;
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(134, 194, 222, 0.09);
  border-radius: 5px;
}

form span{
  text-align: left;
  font-weight: bolder;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  background-color: transparent;
}

.btn {
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  margin: 10px 0;
  transition: 0.4s;
}

.btn.btn-dark {
  background-color: #000;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: #000;
  border: 1px solid #000;
  padding: 7px 30px;
}

.btn:hover {
  background-color: #0f730c;
  color: #fff;
}

.btn.btn-outline:hover {
  background-color: #000;
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disable] {
  background-color: #aaa;
}

.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}

/* Loader */

.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
}

.loader {
  margin-top: 20px;
  animation: is-rotating 1s infinite;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top-color: #51d4db;
  display: block;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
